:root {
   /* General */
   --colorgradientone: #ff5a00;
   --colorviolet: #940cd8;
   --baseone: #ffffff;
   --basetwo: #ff1c3b;
   --transone: rgba(255, 255, 255, 0.5);
   --opacity-5: 0.5;
 
   /* Purple theme */
   --deep-perple: #12001C;
   --bg-purple: #2d0444;
   --bg-purple-dark: #180026;
   --purple-text: rgb(208, 218, 240);
   --bg-purple-two: #9d9dc2;
   --bg-purple-three: #4b1968;
 
   /* Dark theme */
   --body: #0a0e0c;
   --dark-grey: #212529;
   --dark-grey-two: #3e3f42;
   --basetree: #141c18;
   --basefour: #202723;
 }